<h1></h1>
<h1></h1>
 <h1></h1>


@{
    ViewData["Title"] = "About US";
}
<br />
<br />

<h2>@ViewData["Title"]</h2>

<br />
<div class="row">
    <div class="col-md-6">
        <h3>Who are We..?</h3>
        <p>
            We are number one Taxi Cabs providing Company which located in all around the Country.So we provide our
            services to anyone who worked in anywhere and basically we are focused on Office staffs. 
            
        </p>
        <p>
           <h3> <b> <i>Join us by signing-up and enter your credentials, and then we will call you in around 24 hours. </i></b></h3>
        </p>

    </div>
    <div class="col-md-6">
        <h4> Sign Up -> <a asp-controller="Account" asp-action="Register"><b>Click here</b></a> </h4>
        <h4> Sign In ->  <a asp-controller="Account" asp-action="Login"><b>Click Here</b></a></h4>
    </div>
</div>





