@{
    ViewData["Title"] = "Home Page";
}
<style>
.modal-content { background-image: url("https://us.123rf.com/450wm/themorningglory/themorningglory1601/themorningglory160100572/51023842-abstract-urban-background-with-blurred-buildings-and-traffic-city-blur-background-.jpg?ver=6"); 
                 background-size: cover;
                 background-repeat: no-repeat;
                 width: 100%; height: 100% 
}
</style>

<h1></h1>
<h1></h1>
<h2></h2>
<br />
<br />

<h1><b>Welcome to the Taxi service....</b></h1>
<br />
<div class="row">
    <div class="col-md-8">
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Call us-Hotlines</button>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title"><span class="glyphicon glyphicon-phone"></span><b>Hotline Numbers</b> </h4>
                    </div>
                    <div class="modal-body">
                        <p><b>We are availble in 24 hour.</b></p>
                        <ul>
                            <li><b>HeadOffice-Colombo : 0115555555</b></li>
                            <li><b>Custome Care : 0112222222 / 0119999999</b></li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <p>If This is the first time that you are using our service..<a asp-controller="Account" asp-action="Register"><b>Sign up here</b></a></p>
        <p>Or Login <a asp-controller="Account" asp-action="Login"><b>Here</b></a></p>
    </div>
</div>



<h3>Breif history of TaxiCab</h3>

<p>
    A taxicab, also known as a taxi or a cab, is a type of vehicle for hire with a driver,
    used by a single passenger or small group of passengers, often for a non-shared ride.
    A taxicab conveys passengers between locations of their choice. This differs from other
    modes of public transport where the pick-up and drop-off locations are determined by the
    service provider, not by the passenger, although demand responsive transport and share taxis p
    rovide a hybrid bus/taxi mode.
</p>
<div class="row">
    <div class="col-md-6">
        <p>
            There are four distinct forms of taxicab, which can be identified by slightly differing terms in different
            countries:
            <ul>
                <li>
                    Hackney carriages, also known as public hire, hailed or street taxis, licensed for hailing throughout
                    communities
                </li>
                <li>
                    Private hire vehicles, also known as minicabs or private hire taxis, licensed for pre-booking only
                </li>
                <li>
                    Taxibuses, also come many variations throughout the developing countries as jitneys or jeepney,
                    operating on pre-set routes typified by multiple stops and multiple independent passengers
                </li>
                <li>
                    Limousines, specialized vehicle licensed for operation by pre-booking
                </li>
            </ul>
            <br />
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <p>
            Although types of vehicles and methods of regulation, hiring, dispatching, and negotiating payment differ
            significantly from country to country, many common characteristics exist. Disputes over whether smartphone-based
            ride hailing services should be regulated as taxicabs has resulted in some jurisdictions creating a new
            classification called transportation network company.
        </p>
    </div>

</div>
    


<br />
<br />
<br />