<h1></h1>
<h1></h1>
<h1></h1>
<br />


@{
    ViewData["Title"] = "Contact";
}

@{
    ViewData["Message"] = "Contact us anytime you want..";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address><b>
    TaxiOffice(PVT) Ltd<br />
    No.03\5 Galle Road<br />
    Kollupitiya <br />
    <abbr title="Phone">P:</abbr>
    011 - 2222222<br />
    011 - 2333333
    </b>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
